section.contact {
    position: relative;
    width: 1460px;
    height: 267px;
    margin: 0 20px 0 20px;
    text-align: center;
}

div.contact_inner {
    width: 1460px;
    margin: 0 auto 0 auto;
    padding: 25px;
    text-align: center;
}

h2.contact_title {
    display: block;
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    letter-spacing: -.015rem;
    font-weight: 400;
}

div.contact_info {
    display: inline-block;
    position: relative;
}

a.contact_mail {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

p.contact_text {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #747474;
}

/*@media screen and (max-width: 979px)*/