section.ability {
    position: relative;
    width: 1460px;
    height: 55em;
    margin: 0 20px 0 20px;
    background-color:#CAEDF3;
}


/* Learn 관련 */
h3.learn_title_1{
    float: left;
    width: 600px;
    height: 300px;
    border-radius: 15px;
    margin: 50px 0 0 75px;
    padding: 20px;
    color: #84D4E2;
}

ul.learning_list{
    position: absolute;
    float: left;
    width: 25em;
    height: 250px;
    margin-left: 30px;
    color: black;
}

h3.learn_title_2{
    float: right;
    width: 600px;
    height: 300px;
    border-radius: 15px;
    margin: 50px 75px 0 0;
    padding: 20px;
    color: #84D4E2;
}

ul.learn_list{
    position: absolute;
    float: right;
    width: 25em;
    height: 250px;
    margin-left: 30px;
    color: black;
}

li.learning_list_item, li.learn_list_item{
    margin: 10px 20px 0 20px;
}



/* Skill 관련 */
article.skill {
    top: 420px;
    width: 1350px;
    height: 400px;
    margin: 20px 0 0 70px;
    border-radius: 15px;
    background-color: #ffffff;
}

h3.skill_title{
    font-size: 45px;
    text-align: center;
    float: left;
    width: 500px;
    height: 300px;
    left: 60px;
    bottom: 330px;
    color: #84D4E2;
}

ul.skill_list{
    float: right;
    width: 500px;
    height: 300px;
    right: 270px;
    bottom: 310px;
    color: black;
}

li.skill_list_item{
    top: 30px;
    margin: 25px 40px 0 40px;

}