section.about {
    position: relative;
    background-color: #fff;
    margin: 20px;
    width: 91.875em;
    height: 60em;
}

div.about_inner {
    float: left;
    left: 100px;
    height: 500px;
    width: 500px;
}

div.profile{
    top: 80px;
}

div.profile_photo {

}

span.photo {
    text-align: center;
    width: 200px;
    height: 350px;
    margin-left: 140px;
    margin-right: 140px;
}

img.photo {
    width: 200px;
    height: 350px;
}

div.about_text_1{
    float: right;
    right: 100px;
    height: 500px;
    width: 600px;
    text-align: center; 
}

div.about_text_2{
    float: left;
    left: 100px;
    height: 400px;
    width: 1270px;
    margin-top: 30px;
}

h2.about_text_item_1 {
    font-size: 40px;
    top: 150px;
    margin-top: 30px;
}

p.about_text_item_2{
    font-size: 20px;
    top: 60px;
    margin-top: 30px;
}

p.profile_name {
    font-size: 20px;
    text-align: center; 
}