section.about {
    position: relative;
    margin: 0 20px 20px 20px;
    width: 1460px;
    height: 60em;
}

div.about_inner {
    float: left;
    left: 100px;
    height: 500px;
    width: 500px;
}

div.profile{
    height: 300px;
    top: 100px;
}

div.profile_photo {

}

span.photo {
    text-align: center;
    width: 300px;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 70%;
    overflow: hidden;
    border: 1px solid black;
}

img.photo {
    width: 200px;
    height: 300px;
}

div.profile_info {
    height: 50px;
    margin-top: 10px;
    font-weight: bold;
}

p.profile_name {

}

div.about_text_1{
    float: right;
    right: 100px;
    height: 500px;
    width: 600px;
    text-align: center; 
}

div.about_text_2{
    float: left;
    height: 400px;
    width: 1270px;
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
}

h2.about_text_item_1 {
    color: #84D4E2;
    font-size: 40px;
    top: 75px;
    margin-top: 30px;
}

p.about_text_item_2{
    font-size: 27px;
    top: 30px;
    margin-top: 30px;
}

p.profile_name {
    font-size: 20px;
    text-align: center; 
}