footer {
    position: relative;
    width: 1500px;
    height: 70px;
    margin: 0 auto 0 auto;
    display: block;
    font-size: 20px;
    border-top: 2px solid lightgray;
}

footer::after {
    display: table;
    clear: both;
    table-layout: fixed;
    content: '';
}


div.footer_inner {
    height: 65px;
}

div.sns {
    height: 3.125em;
}

a.footer_http_1 {
    left: 40px;
}

a.footer_copyright {
    font-size: 0.9375em;
    position: absolute;
    left: 45%;
    bottom: 22px;
    text-align: center;
    color: #adadad;
    letter-spacing: .04rem;
}

a.footer_madeby {
    float: right;
    right: 40px;

}