header {
    position: relative;
    width: 1500px;
    height: 50px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: #fff;
    display: block;
    font-size: 20px;
}

header::after {
    display: table;
    clear: both;
    table-layout: fixed;
    content: '';
}

div.header_inner{
    height: 50px;
}

strong.header_title{
    left: 40px;
}

a.email {
    float: right;
    right: 40px;
}