header {
    position: relative;
    width: 1500px;
    height: 60px;
    margin: 0 auto 0 auto;
    display: block;
    font-size: 20px;
}

header::after {
    display: table;
    clear: both;
    table-layout: fixed;
    content: '';
}

div.header_inner{
    height: 50px;
    border-bottom: 2px solid lightgray;
}

h3.header_title{
    float: left;
    margin: 5px;
}

a.email {
    margin: 5px;
    float: right;
    right: 40px;
}