section.work {
    margin: 20px;
    width: 1470px;
    height: 3025px;
}

article {
    width: 1470px;
    height: 500px;
}

h3 {
    padding: 10px;
}


article.project {

}

div.project_inner {

}

h2.project_title {

}

div.project_text {

}


article.competition {

}

div.competition_inner {

}

h2.competition_title {

}

div.competition_text {

}


article.hackathon {

}

div.hackathon_inner {

}

h2.hackathon_title {

}

div.hackathon_text {

}


article.capstone {

}

div.capstone_inner {

}

h2.capstone_title {

}

div.capstone_text {

}


article.club {

}

div.club_inner {

}

h2.club_title {

}

div.club_text {

}


article.certificate {

}

div.certificate_inner {

}

h2.certificate_title {

}

div.certificate_text {

}