section.work {
    position: relative;
    margin: 20px 20px 0px 20px;
    width: 1460px;
    height: 3900px;
    font-weight: bold;
}


#project {
    width: 1400px;
    height: 600px;
    padding: 20px;
    margin: 50px 0px 50px 0;
    left: 30px;
    background-color: #CAEDF3;
    border-radius: 5%;
}

#competition {
    width: 1400px;
    height: 600px;
    padding: 20px;
    margin: 50px 0 50px 0;
    left: 30px;
    background-color: #CAEDF3;
    border-radius: 5%;
}

#hackathon {
    width: 1400px;
    height: 600px;
    padding: 20px;
    margin: 50px 0 50px 0;
    left: 30px;
    background-color: #CAEDF3;
    border-radius: 5%;
}

#capstone {
    width: 1400px;
    height: 600px;
    padding: 20px;
    margin: 50px 0 50px 0;
    left: 30px;
    background-color: #CAEDF3;
    border-radius: 5%;
}

#club {
    width: 1400px;
    height: 600px;
    padding: 20px;
    margin: 50px 0 50px 0;
    left: 30px;
    background-color: #CAEDF3;
    border-radius: 5%;
}

#certificate {
    width: 1400px;
    height: 600px;
    padding: 20px;
    margin: 50px 0 50px 0;
    left: 30px;
    background-color: #CAEDF3;
    border-radius: 5%;
}


p.project_title {
    font-size: 30px;
    background-color: #CAEDF3;
    color: #fff;
    margin: 20px;
}

div.project_text {
    width: 1320px;
    height: 450px;
    margin: 20px;
    border-radius: 5%;
}


p.competition_title {
    font-size: 30px;
    background-color: #CAEDF3;
    color: #fff;
    margin: 20px;
}

div.competition_text {
    width: 1320px;
    height: 450px;
    margin: 20px;
    border-radius: 5%;
}


p.hackathon_title {
    font-size: 30px;
    background-color: #CAEDF3;
    color: #fff;
    margin: 20px;
}

div.hackathon_text {
    width: 1320px;
    height: 450px;
    margin: 20px;
    border-radius: 5%;
}


p.capstone_title {
    font-size: 30px;
    background-color: #CAEDF3;
    color: #fff;
    margin: 20px;
 
}

div.capstone_text {
    width: 1320px;
    height: 450px;
    margin: 20px;
    border-radius: 5%;
}


p.club_title {
    font-size: 30px;
    background-color: #CAEDF3;
    color: #fff;
    margin: 20px;
}

div.club_text {
    width: 1320px;
    height: 450px;
    margin: 20px;
    border-radius: 5%;
}


p.certificate_title {
    font-size: 30px;
    background-color: #CAEDF3;
    color: #fff;
    margin: 20px;
}

div.certificat_text {
    width: 1320px;
    height: 450px;
    margin: 20px;
    border-radius: 5%;
}